/* Blog title styling */
.title-a-tag {
    text-decoration: none;
}

.blog-title {
    color: #783937ff;
}

.blog-title:hover {
    text-decoration: underline;
    transition: 0.3s;
}

/* Button & Anchor Tag Styling */

.signin-link {
    text-decoration: none;
    color: #fc766aff;
}

.signin-link:hover {
    color: #783937ff;
    transition: 0.3s;
}

.bright-btn {
    background-color: #fc766aff;
    color: white;
}

.bright-btn:hover {
    background-color: #783937ff;
    color: white;
}

.brown-btn {
    background-color: #f1ac88ff;
    color: white;
}

.brown-btn:hover {
    background-color: #783937ff;
    color: white;
}

.signup-link {
    text-decoration: none;
    color: #fc766aff;
}

.signup-link:hover {
    color: #783937ff;
    transition: 0.3s;
}

/* Header & Navigation styling */

.nav-bg {
    background-color: #eceae0;
}

.main-title {
    color: #783937ff;
}

.main-title:hover {
    color: #783937ff;
}

.nav-links {
    color: #783937ff;
}

.nav-links:hover {
    text-decoration: underline;
}

/* Overwritten default css to match other navigation link styling */

.nav-link:hover {
    text-decoration: underline;
    color: #783937ff;
}

.navbar-nav .nav-link.active {
    color: #783937ff;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.scl-media {
    border-radius: 50%;
}

/* Card Styling */

.card {
    background-color: #fcfcfc;
}

/* Footer */

.scl-media:hover {
    border: 1px solid #783937ff;
    border-radius: 50%;
    transition: 0.5s;
}

.page-footer {
    background-color: #eceae0;
}

i {
    color: #783937ff;
}

.copyright {
    color: #783937ff;
}