@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


/* Blog title styling */
.title-a-tag {
    text-decoration: none;
}

.blog-title {
    color: #783937ff;
}

.blog-title:hover {
    text-decoration: underline;
    transition: 0.3s;
}

/* Button & Anchor Tag Styling */

.signin-link {
    text-decoration: none;
    color: #fc766aff;
}

.signin-link:hover {
    color: #783937ff;
    transition: 0.3s;
}

.bright-btn {
    background-color: #fc766aff;
    color: white;
}

.bright-btn:hover {
    background-color: #783937ff;
    color: white;
}

.brown-btn {
    background-color: #f1ac88ff;
    color: white;
}

.brown-btn:hover {
    background-color: #783937ff;
    color: white;
}

.signup-link {
    text-decoration: none;
    color: #fc766aff;
}

.signup-link:hover {
    color: #783937ff;
    transition: 0.3s;
}

/* Header & Navigation styling */

.nav-bg {
    background-color: #eceae0;
}

.main-title {
    color: #783937ff;
    font-family: Pacifico, cursive;
}

.main-title:hover {
    color: #783937ff;
}

.nav-links {
    color: #783937ff;
}

.nav-links:hover {
    text-decoration: underline;
}

/* Overwritten default css to match other navigation link styling */

.nav-link:hover {
    text-decoration: underline;
    color: #783937ff;
}

.navbar-nav .nav-link.active {
    color: #783937ff;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.scl-media {
    border-radius: 50%;
}

/* Card Styling */

.card {
    background-color: #fcfcfc;
}

.cgry-btn {
    text-decoration: none;
    color: #783937ff;
}

.cgry-btn:hover {
    text-decoration: underline;
    color: #783937ff;
    transition: 0.3s;
}

.ftrd-img {
    max-height: 600px;
    object-fit: cover;
}

.card-like-btn {
    margin-left: 30px;
}

/* Footer */

.scl-media:hover {
    border: 1px solid #783937ff;
    border-radius: 50%;
    transition: 0.5s;
}

.page-footer {
    background-color: #eceae0;
}

i {
    color: #783937ff;
}

.copyright {
    color: #783937ff;
}

/* Like Button Styling */

.like-btn {
    color: #fc766aff;
}

.heart-crack {
    font-size: 20px;
}

.login-txt {
    margin-left: 20px;
}

.mgn-spc {
    margin-left: 10px;
}

/* Categories page styling */

.banner-img {
    width: 100%;
}

.img-container {
    position: relative;
}

.category-txt {
    position: absolute;
    min-width: 30%;
    bottom: 20%;
    right: 36%;
    text-align: center;
    background: rgba(252, 118, 106, 0.5);
    font-size: 4.5vw;
    color: white;
    border-radius: 15%;
    text-transform: capitalize;
    padding: 5px;
    font-family: Pacifico, cursive;
}
