{% extends 'base.html' %}
{% block title %}
Upload A Post
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
    {% if user.is_authenticated %}
        <h4>Fill in the form below to upload a post</h4>
        <hr>
        <br>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ body|safe }}
            {{ form.as_p }}
            <button class="btn bright-btn">Upload</button>
        </form>
    </div>
    <br>

    <!-- Javascript to get the form field with id of 'author' & assign it
    the value of user.id -->
    <script>
        var name = '{{ user.id }}'
        document.getElementById('author').value = name
    </script>

    {% else %}

        <!-- What will show to unauthorised users who try to access this page. -->
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                Oops.. Only registered users can post to this blog
                <i class="fa-solid fa-face-frown"></i>
                <br><br>
                If you want to create your own posts, then please sign up for an account
                <a href="{% url 'account_signup' %}" class="signup-link">here!</a>
                <i class="fa-solid fa-face-grin-stars"></i><br>
                Already a member? You can sign in <a href="{% url 'account_login' %}" class="signin-link">here.</a>
            </div>
        </div>
</div>

    {% endif %}
{% endblock %}