{% extends 'base.html' %}
{% block title %}
Delete Your Post
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <div class="row">
            <div class="col-md-8 mt-5 offset-md-2">
                <h3>Delete Post: {{ post.title }}</h3>
                <form method="POST">
                    {% csrf_token %}
                    <p>Are you sure you wish to make these changes?</p>
                    <br>
                    <button class="btn bright-btn">Delete Post</button>
                    <br>
                    <small>This cannot be undone.</small>

                </form>
                <br>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                Oops.. Only the author of this post can make changes or delete it.
                <i class="fa-solid fa-face-frown"></i>
            </div>
        </div> 
    {% endif %}

{% else %}

<!-- What will show to unauthorised users who try to access this page. -->
<div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
        Oops.. Only registered users can post to this blog
        <i class="fa-solid fa-face-frown"></i>
        <br><br>
        If you want to create your own posts, then please sign up for an account
        <a href="{% url 'account_signup' %}" class="signup-link">here!</a>
        <i class="fa-solid fa-face-grin-stars"></i><br>
        Already a member? You can sign in <a href="{% url 'account_login' %}" class="signin-link">here.</a>

        {% endif %}
        {% endblock %}