{% extends 'base.html' %}
{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}

<h1>{{ post.title }}</h1>
<small>By: {{ post.author }}</small>
<hr>
<br>
{{ post.body }}
<br><br>
<div class="dropdown">
    <button class="btn btn-dark dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Edit/Delete
    </button>
    <ul class="dropdown-menu dropdown-menu-secondary">
      <li><a class="dropdown-item active" href="{% url 'edit_post' post.slug %}">Edit This Post</a></li>
      <li><a class="dropdown-item" href="{% url 'delete_post' post.slug %}">Delete</a></li>
    </ul>
    <a href="{% url 'home' %}" class="btn btn-dark btn-sm">Back To Homepage</a>
  </div>

{% endblock %}